@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'P22';
  font-weight: 350;

  src: url('../../public/fonts/P22-Mackinac/P22MackinacPro-BookItalic_15.otf') format('opentype');
}

.regular-text {
  font-family: 'P22', sans-serif;
  font-weight: 350;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}